
.Category {
  display: flex;
  justify-content: space-around;
  gap: 2.1cm;
 background-color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 150px;
  margin-bottom: 20px;
  width: 100%; 
}


.Category h1 {
  margin: 0;
  cursor: pointer;
  font-size: 15px;
}


  .cat-im{
  width: 2.5cm;
  height: 2.5cm;
  border-radius: 8px;
 padding-top: 1cm;
 padding-left: 1cm;
 padding-bottom: 1cm;
 padding-right: 1cm;
}
.cat-m{
  border: 3px solid rgb(113, 113, 113);
  border-radius: 10px;
  
}

.cat-m:hover{
  background-color: #a90000;
  .cat-h1{
    color: #ffffff;
  }
}
.Categorys {
  position: relative;
  width: 29%;
  height: 450px;
  border-right: 1px solid #b7b7b7;
}

.List {
  position: absolute;
  width: 85%;
  height: 80%;
  left: 23%;
  top: 24%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ListItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}

li {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
