.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  #title {
    font-size: 24px;
    margin-bottom: 16px;
    color: #333;
  }
  
  .image-de-couverture {
    margin-bottom: 16px;
  }
  
  .cover-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
  }
  
  .cover-image:hover {
    transform: scale(1.1); /* Scale the image on hover */
  }
  
  .container {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .cont-h2 {
    font-size: 20px;
    margin-right: 32cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    font-size: xx-large;
    color: #333;
  }
  
  .cont-h1 {
    font-size: 20px;
    margin-right: 32cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    font-size: xx-large;
    color: #333;
  }
  
  
  .image-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .image-box {
    position: relative; 
    display: flex;
    border: 3px solid black;
    border-radius: 8px;
    padding: 2cm;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 6cm;
    height: 6cm;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.1); 
}

.add-to-cart-button {
    position: absolute;
    bottom: 10px; 
    background-color: #a90000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-box:hover .add-to-cart-button {
    opacity: 1; 
}

  
  .image-paper {
    width: 128px;
    height: 8px;
    background-color: #ccc;
  }
   .flous{
    display: flex;
   }
  .price1 {
 
    margin-right: 20px; 
    color: crimson;
  }
  .price2{
  
    margin-right: 20px;
    text-decoration-line: line-through;
  }

  .button-2{
    margin-top: 1cm;
  }
  .show-all1 {
    display: block;
    margin: 0 auto; 
    padding: 10px 60px;
    color: rgb(6, 0, 0);
    background-color: white; 
    border: 5px solid #a90000; 
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .show-all1:hover {
    background-color: #a90000; 
    color:white;
    box-shadow: 2px 2px 2px 2px #797979;
  }